* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

@font-face {
    font-family: "lexendDecaRegular";
    src: url(/Fonts/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: "lexendDecaSemiBold";
    src: url(/Fonts/LexendDeca-SemiBold.ttf);
}

body {
    background-color: rgba(19, 19, 19, 255);
    
    
}

/***ESTILOS HEADER***/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin: 0px 0px 10px 0px;
}

header img {
    width: 100%;
}

/***ARTICLE "NOS ESTAMOS RENOVANDO***/

.flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}


.circulo {
    width: 146px;
    position: absolute;
    top: -85px;
    left: -1px;

}

.card {
    background-color: rgba(40, 40, 40, 255);
    height: 590px;
    width: 80%;
    border-radius: 15% 0 15% 0;
    font-family: "lexendDecaRegular";
    padding: 40px;
    z-index: 1;

}

.card-body {
    border-bottom: 1.5px solid rgb(255, 255, 255);
}


.card-body p {
    color: white;
    font-size: 1.9rem;
    padding: 40px 0 20px 0px;
    display: flex;
    flex-direction: column;

}

.card-body h1 {
    color: #974cf9;
    font-size: 3.8rem;

}


.card-body-2 {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;

}

.card-body-2 p {
    font-size: 1.3rem;
    padding: 40px;
    color: white;
}

.card-whatsapp {

    height: 80px;
    width: 80px;
    background-color: rgba(67, 67, 68, 255);
    border-radius: 50%;
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-whatsapp img {
    width: 55px;
}

.flex-circulo {
    position: absolute;
    bottom: -59px;
    right: -49px;
    width: 200px;
    height: 200px;
    background-color: #974cf9;
    border-radius: 50%;
    
}

/***FOOTER***/
footer {

    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.imagen-footer{
    visibility: hidden;
}
.texto-footer p {
    font-family: "lexendDecaRegular";
    font-size: 1.4rem;
    color: white;
}

.texto-footer-2 p {
    font-family: "lexendDecaRegular";
    font-size: 1.2rem;
    color: white;

}


/***RESPONSIVE***/

@media screen and (min-width: 900px) {

    header img {
        width: 150px;
    }

    .circulo{
        width: 198px;
        top: -33px;
        left: 22px;

    }
    .card {
        height: 270px;
        width: 730px;
        border-radius: 105px 0px 105px 0px;
        display: flex;
        justify-content: space-around;
    }

    .card-body {
        border-bottom: none;
    }

    .card-body h1{
        font-size: 2rem;
    }

    .card-body p{
        padding: 15px 0 20px 0px;
    }

    .card-body-2 {
        display: flex;
        flex-direction: column;
        padding-left: 90px;
        border-left: 1.5px solid rgb(255, 255, 255);

        
    
    }

    .card-body-2 p{
        padding: 0px;
        font-size: 1.4rem;
    }

    .card-body h1 br{
        visibility: hidden;
        
    }

    .card-whatsapp{
        margin: 0px 0px 21px 0px;
    }

    .flex-circulo{
        bottom: 90px;
        right: 80px;
        width: 280px;
        height: 280px;
    }


    footer {

        width: 100%;
        height: 60px;
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        border-top: 1.5px solid rgb(255, 255, 255);
        margin: 20px 20px 20px 20px ;
    
    
    }


    .imagen-footer{
        visibility: hidden;
        width: auto;
    }


    .texto-footer p {
        
        font-size: 1rem;
       
    }
    
    .texto-footer-2 p {
        
        font-size: 1rem;
       
    
    }

}